.card-header-warning-1 {
    background-color: #ff9800; /* Couleur personnalisée pour le premier tableau */
    color: white;
}

.card-header-success-2 {
    background-color: #4caf50; /* Couleur personnalisée pour le deuxième tableau */
    color: white;
}

.card-header-danger-3 {
    background-color: #f44336; /* Couleur personnalisée pour le troisième tableau */
    color: white;
}

.card-header-info-4 {
    background-color: #00bcd4; /* Couleur personnalisée pour le quatrième tableau */
    color: white;
}
