<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Mon profil</h4>
                        <p class="card-category">Détails de votre compte utilisateur</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Code Utilisateur</mat-label>
                                        <input matInput value="{{ currentUser?.codeUtilisateur }}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nom</mat-label>
                                        <input matInput value="{{ currentUser?.nom }}" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Prénom</mat-label>
                                        <input matInput value="{{ currentUser?.prenom }}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nom d'utilisateur</mat-label>
                                        <input matInput value="{{ currentUser?.username }}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Email</mat-label>
                                        <input matInput value="{{ currentUser?.email }}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <button mat-raised-button color="warn" (click)="goToChangePassword()">
                                        Changer le mot de passe
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
