/* Augmente la largeur du formulaire */
.login-form-card {
  max-width: 100%; /* Peut être ajusté selon vos besoins */
  width: 100%;
}

/* Ajuste la taille des champs de formulaire */
.login-form-field {
  width: 100%;
}

/* Ajuste les boutons */
.login-form-button {
  width: 100%; /* Peut être ajusté selon vos besoins */
}
