<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card login-form-card">
                    <div class="card-header card-header-danger text-center">
                        <img src="/assets/img/deenim.png" alt="Logo de la société" style="width: 150px; height: auto; margin-bottom: 10px;">
                        <h4 class="card-title">Login</h4>
                        <p class="card-category">Connectez-vous !</p>
                    </div>
                    <div class="card-body">
                        <!-- Bloc d'erreur -->
                        <div *ngIf="isLoginFailed" class="alert alert-danger text-center" role="alert">
                            {{ 'Erreur de connexion. Veuillez réessayer.' }}
                        </div>

                        <form name="form" #f="ngForm" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width login-form-field">
                                        <input matInput class="form-control"
                                               name="username"
                                               [(ngModel)]="form.username"
                                               required
                                               #username="ngModel"
                                               type="text"
                                               placeholder="Email" >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width login-form-field">
                                        <input matInput type="password"
                                               class="form-control"
                                               name="password"
                                               [(ngModel)]="form.password"
                                               required
                                               minlength="6"
                                               #password="ngModel"
                                               placeholder="Mot de passe">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-danger pull-right login-form-button">Se connecter</button>
                            <div class="clearfix"></div>
                        </form>
                        <div class="row mt-3">
                            <div class="col-md-12 text-center">
                                <p>Vous n'avez pas de compte? </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button mat-raised-button type="button" (click)="onSignup()" class="btn btn-primary">Inscrivez-vous</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
