/* Centrer et ajuster la largeur de la carte de formulaire */
.login-form-card {
  width: 100%;
  max-width: 800px; /* Ajustez cette valeur pour la largeur maximale souhaitée */
  margin: 0 auto;
}

/* Ajuster la taille des champs de formulaire */
.login-form-field {
  width: 100%;
}

/* Ajuster le bouton */
.login-form-button {
  width: 100%; /* Vous pouvez ajuster cette valeur si nécessaire */
}
