<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger d-flex justify-content-between align-items-center">
                        <h4 class="card-title mt-0">Liste des types des matériaux</h4>
                       
                        <button class="btn btn-primary" [routerLink]="['/ajoutypem']">Ajouter type matériel</button>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control w-25" placeholder="Rechercher..."
                                [(ngModel)]="searchTerm">
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let maison of filteredFournitures">
                                        <td>{{ maison.id }}</td>
                                        <td>{{ maison.type }}</td>
                                        <td>
                                            <button (click)="removeMaison(maison.id)" class="btn btn-danger btn-sm"
                                                style="margin-left: 10px">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <mat-paginator [length]="filteredFournitures.length" [pageSize]="pageSize"
                            [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>