<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Détail de Fourniture</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <!-- Nom -->
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <h5 class="card-title">Nom</h5>
                                </div>
                                <div class="col-md-9">
                                    <p class="card-text">{{ maison.nom }}</p>
                                </div>
                            </div>

                            <!-- Date d'Achat -->
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <h5 class="card-title">Date d'Achat</h5>
                                </div>
                                <div class="col-md-9">
                                    <p class="card-text">{{ maison.dateAchat }}</p>
                                </div>
                            </div>

                            <!-- Prix -->
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <h5 class="card-title">Prix</h5>
                                </div>
                                <div class="col-md-9">
                                    <p class="card-text">{{ maison.prix }}</p>
                                </div>
                            </div>

                            <!-- Type d'Achat -->
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <h5 class="card-title">Type d'Achat</h5>
                                </div>
                                <div class="col-md-9">
                                    <p class="card-text">{{ maison.formeAchat.type }}</p>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
